<html>

<head>
  <title>Video Stream</title>
  <meta http-equiv="content-type" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <script type="module" src="./drawApp.js"></script> -->
  <link rel="stylesheet" href="custom.css">
</head>

<body>
  <div class="outsideWrapper">
    <div class="insideWrapper">
      <img id="currentImage" class="coveredImage">
      <canvas id="canvas" class="coveringCanvas"></canvas>
    </div>
  </div>

  <script type="module">
    import DrawLines from "./drawApp.js"
    import WSMessage from "./WSMessage.js"

    var initialLines = { "lines": [{ "start": { "x": 765, "y": 923 }, "end": { "x": 673, "y": 1063 } }], "frameSize": [0, 0, 1664, 1248], "scale": { "x": 0.9909855769230769, "y": 0.9911858974358975 } };
    var img = document.getElementById("currentImage");
    var canvas = document.getElementById("canvas");
    let init = true;
    var liner = new DrawLines(canvas, img);

    var url = document.URL.replace("http", "ws");

    try {
      var callbackForDrawing = (event) => {
        img.onload = () => {
          if (init) {
            liner.initObject();
            liner.setLines = initialLines;
            init = false;
          }
          liner.setUpCanvas();
          liner.refreshCanvas();
        }

        if (false && ws && url.indexOf('localhost')) { // if websocket object defined
          img.src = "http://localhost:8080/img/frame001.jpg"

          setInterval(() => {
            if (ws)
              img.src = "http://localhost:8080/img/frame001.jpg"
          }, 100)
        }
        liner.resizeWindow();
      }

      var ws = new WebSocket(url + "stream");
      //ws.binaryType = "arraybuffer";
      ws.onerror = (event) => {
        console.log("Fehler WS");
        callbackForDrawing(event)
      };

      ws.onopen = function () {
        console.log("connection was established");
        var msg = new WSMessage('command','next');
        ws.send(JSON.stringify(msg));
      };

      ws.onmessage = function (msg) {
        var m = WSMessage.fromText(msg.data);
        if (m.Type == "image") {
          img.src = "data:image/png;base64, " + m.Payload;
        }
      };

      img.onload = function () {
        if (init) {
          liner.initObject();
          liner.setLines = initialLines;
          init = false;
        }
        liner.setUpCanvas();
        liner.refreshCanvas();

        var msg = new WSMessage('command','next');
        ws.send(JSON.stringify(msg));
      };

    } catch {
      console.log("WebSocket Connection could not be established");

      callbackForDrawing();
    }
    function keyUpListener (event){
      event = event || window.event;
      if (event.key == "Delete" ) { // delete line
        liner.removeCurrentLine();
      }
      if (event.key == "s") { // save current drawing
        console.log(liner.lineCollection);
      }
    }
  document.addEventListener("keyup", keyUpListener);
  </script>
</body>

</html>